# Mecanismo Exponencial

## Importações e definições de variáveis/funções globais

In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random
import math
from datetime import datetime, date
from dateutil.relativedelta import relativedelta


filename        = "Dataset_Covid_CE.csv"
filename_out    = "Dataset_Covid_CE_Exponential.csv"

epsilons = [0.1, 0.5, 1.0, 10]

# df_municipios = pd.read_csv('ce-cities-lat-lon-format.csv')

## Leitura e limpeza do dataset inicial
Fazemos apenas uma limpeza básica para não modificar muito os resultados do algoritmo.

In [109]:
# definição dos semi-identificadores
semi_ids = [
    "municipioCaso",
    "resultadoFinalExame",
    "racaCor",
]

# definição dos atributos sensíveis
sensitive = [
    "comorbidadeCardiovascularSivep",
    "comorbidadeDiabetesSivep",
]

# definição dos tipos
dtype = {
    "municipioCaso"                  : "str",
    "resultadoFinalExame"            : "str",
    "racaCor"                        : "str",
    "dataNascimento"                 : "str",
    "comorbidadeCardiovascularSivep" : "str",
    "comorbidadeDiabetesSivep"       : "str",
}

# definição das colunas de data
# dates = [
#     "dataNascimento",
# ]
# date_parser = lambda x: pd.to_datetime(x, format="%Y-%m-%d", errors = 'coerce')

# pegar apenas os atributos desejados do dataset
df = pd.read_csv(filename, usecols=semi_ids, dtype=dtype)
df = df.dropna(how="all", subset=semi_ids) # remover registros com todos os semi_ids nulo
# df = df.dropna(how="any", subset=semi_ids) # remover registros com qualquer semi_ids nulo
# df['municipioCaso'] = df['municipioCaso'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8') # remove acentuação

df

             municipioCaso resultadoFinalExame         racaCor
19                  SOBRAL            Negativo           Parda
20                 PACAJUS            Negativo           Parda
21               HORIZONTE            Negativo             NaN
25               FORTALEZA            Negativo           Parda
28                 CAUCAIA            Negativo  Sem Informacao
...                    ...                 ...             ...
1266272          FORTALEZA            Positivo          Branca
1266273          FORTALEZA            Negativo           Parda
1266274          FORTALEZA            Provável          Branca
1266275            CRATEUS            Negativo           Parda
1266276  JUAZEIRO DO NORTE            Positivo             NaN

[911921 rows x 3 columns]

## Consultas

In [110]:
def exponential(data, universe, score_function, epsilon, verbose=False):
    x = data
    O = universe
    q = score_function
    sensitivity = 1

    # calcula scores para cada valor no universo
    scores = [q(x, o) for o in O]
    
    # calcula probabilidade para cada score
    probabilities = [np.exp((epsilon * score) / (2 * sensitivity)) for score in scores]

    # normaliza probabilidades
    probabilities = probabilities / np.linalg.norm(probabilities, ord=1)
    
    if verbose:
        print(universe[:10])
        print(scores[:10])
        print(probabilities[:10])

    # retorna opção aleatória com base nas probabildiades
    return np.random.choice(O, p=probabilities)

### Q1

In [111]:
# municipio com o menor numero de casos positivos de COVID-19
def Q1(df, epsilon, verbose=False):
    table = df.loc[df['resultadoFinalExame'] == 'Positivo', ['municipioCaso', 'resultadoFinalExame']].groupby('municipioCaso').count()
    original_results = table.nsmallest(20, 'resultadoFinalExame')
    universe = df['municipioCaso'].unique()
    x = table.to_dict()['resultadoFinalExame']

    def score(x, o):
        v = x[o] if o in x else 0
        return -1 * ((1 + v)/40)

    if verbose:
        print(f"original_results: {original_results}")

    return exponential(x, universe, score, epsilon, verbose)

Q1(df, epsilon=0.1, verbose=True)
# Q1(df, epsilon=0.5, verbose=True)
# Q1(df, epsilon=1, verbose=True)
# Q1(df, epsilon=10, verbose=True)

dfq1 = pd.DataFrame({epsilon:pd.Series([Q1(df, epsilon=epsilon) for _ in range(20)]) for epsilon in epsilons})
dfq1

original_results:                        resultadoFinalExame
municipioCaso
TARRAFAS                                50
PENAFORTE                               58
ARNEIROZ                                59
ANTONINA DO NORTE                       64
AIUABA                                  71
JATI                                    81
MULUNGU                                 86
GENERAL SAMPAIO                        113
BAIXIO                                 114
IBARETAMA                              122
POTENGI                                127
PALHANO                                132
ABAIARA                                141
GUARAMIRANGA                           141
POTIRETAMA                             146
FORTIM                                 162
UMARI                                  179
GRANJEIRO                              183
SAO JOAO DO JAGUARIBE                  183
ARATUBA                                189
['SOBRAL' 'PACAJUS' 'HORIZONTE' 'FORTALEZA' 'CAUCAIA' 'CASCAVEL' 'ACARAU'
 'MILAGRES' 'ARACATI' 'MISSAO VELHA']
[-249.95, -53.625, -71.1, -1319.875, -143.975, -45.425, -60.475, -28.675, -37.1, -19.925]
[4.74041069e-08 8.68878752e-04 3.62655588e-04 2.77133988e-31
 9.48492399e-06 1.30924196e-03 6.16897935e-04 3.02511259e-03
 1.98515761e-03 4.68538604e-03]

,0.1,0.5,1.0,10.0
0,PALHANO,PACOTI,ANTONINA DO NORTE,TARRAFAS
1,BARROQUINHA,GENERAL SAMPAIO,ANTONINA DO NORTE,ARNEIROZ
2,GENERAL SAMPAIO,MILHA,BAIXIO,TARRAFAS
3,PARACURU,GUARAMIRANGA,FORTIM,ARNEIROZ
4,PARAMOTI,BAIXIO,IBARETAMA,PENAFORTE
5,MUCAMBO,ARNEIROZ,BAIXIO,ARNEIROZ
6,OCARA,PEDRA BRANCA,POTENGI,TARRAFAS
7,CARIRE,ABAIARA,PALHANO,PENAFORTE
8,MILAGRES,APUIARES,TARRAFAS,ARNEIROZ
9,SENADOR POMPEU,SANTANA DO CARIRI,POTENGI,TARRAFAS
10,GRANJA,BAIXIO,AIUABA,AIUABA
11,FARIAS BRITO,ALTO SANTO,MULUNGU,ARNEIROZ
12,CARNAUBAL,PORTEIRAS,IBARETAMA,TARRAFAS
13,MULUNGU,IBARETAMA,CATARINA,ARNEIROZ
14,TRAIRI,BARREIRA,JATI,ARNEIROZ
15,ALTO SANTO,JATI,MULUNGU,ARNEIROZ
16,PENTECOSTE,DEPUTADO IRAPUAN PINHEIRO,AIUABA,TARRAFAS
17,BATURITÉ,ANTONINA DO NORTE,IRAUCUBA,PENAFORTE
18,ITAREMA,PALHANO,TARRAFAS,ANTONINA DO NORTE
19,ALTANEIRA,BAIXIO,JATI,PENAFORTE

In [112]:
dfq1m = [dfq1[col].value_counts().idxmax() for col in dfq1.columns]
dfq1m

['PALHANO', 'BAIXIO', 'ANTONINA DO NORTE', 'ARNEIROZ']

### Q2

In [113]:
# raça com o maior numero de casos negativos de COVID-19
def Q2(df, epsilon, verbose=False):
    table = df.loc[df['resultadoFinalExame'] == 'Negativo', ['racaCor', 'resultadoFinalExame']].groupby('racaCor').count()
    original_results = table.nlargest(20, 'resultadoFinalExame')
    universe = df['racaCor'].dropna().unique()
    x = table.to_dict()['resultadoFinalExame']

    def score(x, o):
        v = x[o] if o in x else 0
        return (1 + v)/200000

    if verbose:
        print(f"original_results: {original_results}")

    return exponential(x, universe, score, epsilon)

Q2(df, 0.1, verbose=True)
# Q2(df, 10, verbose=True)
# Q2(df, 1, verbose=True)
# Q2(df, 10, verbose=True)

dfq2 = pd.DataFrame({epsilon:pd.Series([Q2(df, epsilon=epsilon) for _ in range(20)]) for epsilon in epsilons})
dfq2

original_results:                 resultadoFinalExame
racaCor
Parda                        281535
Branca                        96177
Amarela                       71936
Sem Informacao                34555
Ignorado                      16130
Preta                         10927
Indígena                       2068

              0.1             0.5             1.0      10.0
0         Indígena  Sem Informacao           Parda    Parda
1            Preta        Ignorado  Sem Informacao    Parda
2           Branca           Parda           Parda    Parda
3         Ignorado           Parda        Ignorado    Parda
4           Branca        Ignorado        Indígena    Parda
5          Amarela           Parda  Sem Informacao    Parda
6         Indígena           Preta          Branca    Parda
7         Indígena  Sem Informacao        Indígena    Parda
8           Branca           Parda           Parda    Parda
9         Indígena          Branca        Ignorado    Parda
10         Amarela         Amarela         Amarela    Parda
11           Parda  Sem Informacao        Ignorado    Parda
12         Amarela  Sem Informacao         Amarela    Parda
13        Indígena          Branca         Amarela  Amarela
14           Parda         Amarela        Ignorado    Parda
15        Indígena  Sem Informacao           Parda    Parda
16  Sem Informacao           Parda         Amarela    Parda
17           Parda           Preta           Preta    Parda
18        Ignorado        Ignorado          Branca    Parda
19           Preta           Parda  Sem Informacao    Parda

In [114]:
dfq2m = [dfq2[col].value_counts().idxmax() for col in dfq2.columns]
dfq2m

['Indígena', 'Parda', 'Parda', 'Parda']

## Gerar CSVs

In [115]:
dfq1q2 = pd.DataFrame(columns=epsilons, index=['q1', 'q2'], data=[dfq1m, dfq2m])
dfq1q2

        0.1     0.5                1.0       10.0
q1   PALHANO  BAIXIO  ANTONINA DO NORTE  ARNEIROZ
q2  Indígena   Parda              Parda     Parda

In [116]:
df.to_csv(filename[:-4] + '_Clean.csv', index=False)
dfq1.to_csv(filename_out[:-4] + '_Q1.csv')
dfq2.to_csv(filename_out[:-4] + '_Q2.csv')
dfq1q2.to_csv(filename_out[:-4] + '_Q1_Q2.csv')